In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = pd.read_csv('D:/Datasets/HousePricePrediction/formatedTrain.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,61,0,0,0,0,0,2,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,0,5,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,42,0,0,0,0,0,9,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,35,272,0,0,0,0,2,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,84,0,0,0,0,0,12,WD,Normal,250000

In [3]:
train.shape

(1460, 76)

In [4]:
test = pd.read_csv('D:/Datasets/HousePricePrediction/formatedTest.csv')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,140,0,0,0,120,0,0,6,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,393,36,0,0,0,0,12500,6,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,212,34,0,0,0,0,0,3,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,360,36,0,0,0,0,0,6,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,0,82,0,0,144,0,0,1,WD,Normal

In [5]:
test.shape

(1459, 75)

### For doing one hot encoding lets merge the train and test data so that if any extra feature will be present in test data then that will also be encode

In [6]:
concat = pd.concat([train, test], axis=0)

In [7]:
encoded = pd.get_dummies(concat, drop_first=True)

In [8]:
train_data = encoded.iloc[:1460, :]
test_data = encoded.iloc[1460:, :]

In [9]:
train_data.shape

(1460, 237)

In [10]:
test_data.shape

(1459, 237)

In [11]:
test_data.drop(columns=['Id', 'SalePrice'], inplace=True)

C:\Users\manis\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
train_data.drop(columns=['Id'], inplace=True)

In [13]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor()

In [14]:
x_train = train_data.drop('SalePrice', axis=1)
y_train = train_data['SalePrice']

In [15]:
regr.fit(x_train, y_train)

RandomForestRegressor()

In [16]:
test_pred = regr.predict(test_data)

In [17]:
test_pred

array([125722.58, 152631.  , 176768.22, ..., 158021.37, 117768.08,
       221745.65])

In [18]:
submission = pd.read_csv('D:/Datasets/HousePricePrediction/sample_submission.csv')
submission.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [19]:
salePrice = pd.DataFrame(test_pred, columns=['SalePrice'])
salePrice.head()

   SalePrice
0  125722.58
1  152631.00
2  176768.22
3  181670.85
4  202959.56

In [20]:
submission.drop('SalePrice', axis=1, inplace=True)

In [21]:
newSub = pd.concat([submission, salePrice], axis=1)
newSub.head()

     Id  SalePrice
0  1461  125722.58
1  1462  152631.00
2  1463  176768.22
3  1464  181670.85
4  1465  202959.56

In [26]:
newSub.to_csv('D:/Datasets/HousePricePrediction/submission.csv', index=False)

In [25]:
newSub.shape

(1459, 2)